<div class="ui footer vertical segment">
    <div class="ui center aligned container">
        <div id="updated-at"><img src="https://img.shields.io/badge/Updated-loading-orange.svg" alt="Update Time"></div>
        <div>Designed and built with all the love and passion in the world by <a href="{{ site.author_url }}" target="_blank">{{ site.author }}</a></div>
        <div><i class="copyright outline icon"></i>{{ site.time | date: "%Y" }} <a href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a></div>
    </div>
</div>