<div class="ui labels">
    <a class="ui black label" href="{{ '/' | relative_url }}"><i class="home icon"></i>Home</a>
    <a class="ui black label" href="{{ '/' | relative_url }}#toc"><i class="list ul icon"></i>TOC</a>
    <a class="ui black label" href="{{ '/' | relative_url }}#training-plans"><i class="route icon"></i>Training</a>
    <a class="ui black label" href="{{ '/' | relative_url }}#timing-results"><i class="stopwatch icon"></i>Results</a>
    <a class="ui yellow label" href="{{ '/' | relative_url }}#personal-best"><i class="medal icon"></i>PB</a>
    <a class="ui black label" href="{{ '/' | relative_url }}#website-links"><i class="linkify icon"></i>Links</a>
</div>