<div class="ui vertical segment">
    <div class="ui container">
        <h2 id="toc" class="ui header"><i class="list alternate icon"></i>Table of Contents</h2>
        <h3 class="ui header">Training Plans<a class="ui basic horizontal label" href="{{ '/' | relative_url }}#training-plans"><i class="arrow right icon"></i>View</a></h3>
        <div class="ui bulleted selection link list">
            {%- for item in site.data.training_plans -%}<a class="item" href="{{ '/' | relative_url }}#{{ item.race | slugify }}"><i class="{{ item.progress }} icon"></i>{{ item.race }} ({{ item.weeks.size }} weeks)</a>{%- endfor -%}
        </div>
        <h3 class="ui header">Timing Results<a class="ui basic horizontal label" href="{{ '/' | relative_url }}#timing-results"><i class="arrow right icon"></i>View</a></h3>
        <div class="ui bulleted selection link list">
            {%- for item in site.data.timing_results -%}<a class="item" href="{{ '/' | relative_url }}#{{ item.race | slugify }}-timing-results">{{ item.race }} Timing Results ({{ item.results.size }})</a>{%- endfor -%}
        </div>
        <h3 class="ui header">Website Links<a class="ui basic horizontal label" href="#website-links"><i class="arrow right icon"></i>View</a></h3>
        <div class="ui bulleted selection link list">
            {%- for item in site.data.website_links -%}<a class="item" href="{{ '/' | relative_url }}#{{ item.name | slugify }}">{{ item.name }} ({{ item.websites.size }})</a>{%- endfor -%}
        </div>
    </div>
</div>