<div class="ui vertical segment">
    <div class="ui container">
        <h2 class="ui header"><i class="bars icon"></i>Table of Contents</h2>
        <div class="ui bulleted list">
            <div class="item">
                <a href="#training-plans">Training Plans</a>
                <div class="list">
                    {%- for item in site.data.training_plans -%}<div class="item"><a href="#{{ item.race | slugify }}"><i class="{% if item.finished %}green check{% else %}yellow{% endif %} circle outline icon"></i>{{ item.race }}</a></div>{%- endfor -%}
                </div>
            </div>
            <div class="item">
                <a href="#timing-results">Timing Results</a>
                <div class="list">
                    {%- for item in site.data.timing_results -%}<div class="item"><a href="#{{ item.race | slugify }}-timing-results">{{ item.race }} Timing Results</a> ({{ item.results.size }})</div>{%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</div>