<div class="ui vertical segment">
    <div class="ui container">
        <h2 id="training-plans" class="ui header"><i class="route icon"></i>Training Plans</h2>
        {%- for item in site.data.training_plans -%}
            {%- assign completed_distance = 0 -%}
            {%- assign total_distance = 0 -%}
            {%- for week in item.weeks -%}
                {%- for day in week.days -%}
                    {%- unless day.state == 'disabled' -%}
                        {%- assign completed_distance = completed_distance | plus: day.distance -%}
                    {%- endunless -%}
                    {%- assign total_distance = total_distance | plus: day.distance %}
                {%- endfor -%}
            {%- endfor -%}
            <h3 id="{{ item.race | slugify }}" class="ui header">{{ item.race }}<div class="ui basic horizontal label{% if item.icon == 'lock' %} disabled{% endif %}"><i class="{{ item.icon }} icon"></i>{{ total_distance | round }} km<div class="detail">{% if total_distance > 0 %}{{ completed_distance | divided_by: total_distance | times: 100 | round }}{% else %}0{% endif %}%</div></div></h3>
            <table class="ui unstackable selectable celled definition table">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for week in item.weeks -%}
                        <tr>
                            <td>#{{ forloop.index }}</td>
                            {%- for day in week.days -%}<td class="single line"><div class="ui {{ day.state }} horizontal label">{{ day.date }}<div class="detail">{% if day.distance > 0 %}{{ day.distance }} km{% else %}rest{% endif %}</div></div></td>{%- endfor -%}
                        </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        {%- endfor -%}
    </div>
</div>